/*++++++NavBar styles++++++++++++*/
.contentGrey {
  /*overflow: hidden;*/
  display: flex;
  background-color: #e5e5e5;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 8px 11px 5px -6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 8px 11px 5px -6px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.13);
}
.contentWhite {
  display: flex;
  background-color: #ffffff;
  margin-top: 0px;
  padding: 0px;
  width: 65%;
  height: 100px;
}
.triangleShadowLow {
  width: 120px;
  background-color: white;
  transform: rotate(-70deg) translateX(0px) translateY(-1px);
  transform-origin: left bottom;
  box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.13);
}
.homeIcon {
  width: 100px;
  height:100px;
  margin: 0px 0px 0px 25px;
}
/* Tooltip text */
.tooltipnav .tooltipnavtext {
  visibility: hidden;
  text-align: justify;
  width: 150px;
  background-color: gray;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  margin-top: 60px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltipnav:hover .tooltipnavtext {
  visibility: visible;
}

.yupayIcon {
  width: 150px;
  height: 60px;
  margin-top: 20px; 
}
.browserNav {
  padding-bottom: 10px; 
  width: 360px;
}
/*********************************************/
.contentCenterElements {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 510px;
  height: 100px; 
}
.contentFilterTitles {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: -10px;
}
.divTitleTodo {
  color:#18dcff;
  height: 100%;
  width: 100%;
  text-align: center;
}
.buttonDivTodo {
  height: 5px;
  width: 60px;
  background: #18dcff;
  margin-right: 5px;
}
.divTitlePdf {
  color:#ff3838;
  height: 100%;
  width: 100%;
  text-align: center;
}
.buttonDivPdf {
  height: 5px;
  width: 60px;
  background: #ff3838;
  margin-right: 5px;
}
.divTitleVideo {
  color:#3ae374;
  height: 100%;
  width: 100%;
  text-align: center;
}
.buttonDivVideo {
  height: 5px;
  width: 60px;
  background: #3ae374;
  margin-right: 5px;
}
.divTitlePpt {
  color:#ff9f1a;
  height: 100%;
  width: 100%;
  text-align: center;
}
.buttonDivPpt {
  height: 5px;
  width: 60px;
  background: #ff9f1a;
  margin-right: 5px;
}
.divTitleTema {
  color:#7158e2;
  height: 100%;
  width: 100%;
  text-align: center;
}
.buttonDivTema {
  height: 5px;
  width: 60px;
  background: #7158e2;
  margin-right: 5px;
}
/*********************************************/
.out {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 60px;
  letter-spacing: .2em;
  border: 1px solid rgb(158, 157, 157);
  height: 30px;
  width: 70px;
  text-align: center;
  font-weight: bold;
  color: gray;
  border-radius: 6px;
}
.contentAlerts {
display: flex;
width: 430px;
height: 100px;
}
.notification {
  width: 80px;
  height: 90px;
}
.mail {
  width: 80px;
  height: 90px;
}
.coin {
  width: 47px;
  height: 45px;
}
.contentTokens {
  display: flex;
  width: 100px;
  margin-top: 25px;
}
.tokens {
color: #fff200
}