.contentBrowserComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(252, 253, 255)
}
.loboYupay {
  height: 300px;
  width: 300px;
  margin: 0px  200px;
  margin-top: -200px;
}
.select {
  width: 450px;
}